.cineplex .is-locked-message-wrap, .cineplex.is-locked .is-locked-message {
  max-height: 670px;
}

.fml-calc {
  margin-top: 3em;
  padding: 1em 0;
}
.fml-calc::before, .fml-calc::after {
  clear: both;
  content: "";
  display: block;
}
.fml-calc a {
  color: #09f;
  cursor: pointer;
  display: block;
  font-size: .8em;
  margin-bottom: 1em;
  text-align: center;
}
.fml-calc a:hover {
  text-decoration: underline;
}
.fml-calc .output {
  border-right: 1px solid #9a1b57;
  color: #ddd;
  float: left;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-top: -10px;
  padding-right: 1em;
  padding-top: 10px;
}
.fml-calc .output h2 {
  clear: left;
  float: left;
}
.fml-calc .output > div {
  clear: left;
  float: left;
  opacity: .2;
  transition: .3s all ease-in-out;
}
.fml-calc .output > div:first-of-type, .fml-calc .output > div:hover {
  opacity: 1;
}
.fml-calc .output > div:first-of-type {
  border-bottom: 1px solid #9a1c57;
  margin-bottom: 2em;
}
.fml-calc .output > div + p {
  clear: left;
}
.fml-calc .output > p {
  clear: left;
  float: left;
  width: 100%;
}
.fml-calc .output > p ~ div .img {
  box-shadow: none !important;
}
.fml-calc .output span {
  float: right;
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: .4em;
}
.fml-calc .output svg {
  position: relative;
  top: -15px;
}
.fml-calc .output .img {
  border-radius: 4px;
  box-sizing: content-box;
  float: left;
  margin-bottom: .2em;
  min-height: 48px;
  position: relative;
  width: 86px;
}
.fml-calc .output .img img {
  float: left;
  height: 48px;
  object-fit: cover;
  width: 86px;
}
.fml-calc .output .img:hover::before, .fml-calc .output .img:hover::after, .fml-calc .output .img:focus::before, .fml-calc .output .img:focus::after, .fml-calc .output .img:active::before, .fml-calc .output .img:active::after {
  background: #222;
  content: attr(data-title);
  font-size: 12px;
  left: 50%;
  padding: .5em;
  position: absolute;
  top: -5em;
  transform: translate(-50%, 0);
  white-space: nowrap;
}
.fml-calc .output .img:hover::after, .fml-calc .output .img:focus::after, .fml-calc .output .img:active::after {
  content: attr(data-stats);
  top: -3em;
}
.fml-calc .output .img.bestvalue {
  border-bottom: 5px solid #38ff38;
  box-shadow: 0 0 20px #38ff38;
}
.fml-calc .output .img.bestvalue:hover::before, .fml-calc .output .img.bestvalue:focus::before, .fml-calc .output .img.bestvalue:active::before {
  content: attr(data-title) " (Best Performer)";
}
.fml-calc .output .img.defaultProjection {
  box-shadow: 0 0 20px #9a1b57 !important;
}
.fml-calc .output .img + .img {
  margin-left: .5em;
}
.fml-calc .calc-form {
  color: #fff;
  float: left;
  margin-top: -18px;
}
.fml-calc .calc-form label,
.fml-calc .calc-form input {
  display: block;
  text-align: right;
}
.fml-calc .calc-form label {
  font-size: 12px;
  margin: 0 0 .3em;
  position: relative;
  text-align: center;
}
.fml-calc .calc-form label.noProjection {
  color: #f66;
}
.fml-calc .calc-form input {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.fml-calc .calc-form .projections {
  background: #222;
  display: none;
  font-size: .8em;
  left: 100%;
  min-width: 8em;
  padding: .5em;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(0, -50%);
  white-space: nowrap;
}
.fml-calc .calc-form .projections .title {
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: .5em;
}
.fml-calc .calc-form .projections li {
  clear: both;
}
.fml-calc .calc-form .projections li span:first-child {
  float: left;
}
.fml-calc .calc-form .projections li span:last-child {
  box-sizing: border-box;
  float: right;
  padding-left: 1em;
}
.fml-calc .calc-form > div {
  margin-bottom: 1em;
  position: relative;
  text-align: center;
}
.fml-calc .calc-form > div::before, .fml-calc .calc-form > div::after {
  bottom: 5px;
  font-size: .7em;
  opacity: .9;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.fml-calc .calc-form > div::before {
  content: "$";
  left: 25px;
}
.fml-calc .calc-form > div::after {
  content: "M";
  right: 25px;
}
.fml-calc .calc-form > div:hover .projections,
.fml-calc .calc-form input:focus ~ .projections {
  display: block;
}
.fml-calc .calc-form input,
.fml-calc .calc-form button {
  border: 0;
  display: inline-block;
  font-family: monospace;
  height: 25px;
  padding: .2em 21px;
  vertical-align: top;
  width: 130px;
}
.fml-calc .calc-form button {
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 25px;
  padding: 0;
  text-align: center;
  width: 21px;
}
.fml-calc .calc-form > button {
  background: #38ff38;
  border-radius: 4px;
  font-size: 1em;
  margin: 1.5em 0;
  width: 100%;
}

@media (max-width: 1023px) {
  .fml-calc .output {
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
    width: 100%;
  }
  .fml-calc .output .img {
    max-width: 18vw;
  }
  .fml-calc .output .img img {
    width: 100%;
  }
  .fml-calc .output .img:nth-child(5) {
    clear: left;
    margin-left: 0;
  }
  .fml-calc .calc-form {
    clear: left;
  }
}
